<p>Benvenuto <%= @email %>!</p>

<p>Per favore, confermaci il tuo indirizzo email cliccando sul link qua sotto:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Una volta che avrai confermato il tuo account, dovrai attendere che l'admin riconosca la tua identità e ti autorizzi </p>
