<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 align="center"> Complimenti  <%= " " + @prof.name.to_s + " " + @prof.surname %> </h1>
    <p> Sei stato autorizzato dall'admin, ora puoi prenotare strumenti su http://192.168.10.120 </p>
  </body>
</html> 
