
    <h1 align="center"> Una tua prenotazione è stata confermata </h1>
    <p> Ecco i dati che si riferiscono alla prenotazione </p>
    <ul>
      <li> <%= @booking.start_date %> </li>
      <li> <%= @booking.end_date %> </li>
      <li> <%= @booking.tool.name %> </li>
      <li> <%= @booking.quantity %> </li>
    </ul>
