
    <h1 align="center" color="red"> Accidenti! </h1>
    <p> Ci dispiace tanto <%= " " + @prof.name.to_s + " " + @prof.surname %>. </p>
    <p> Evidentemente l'admin ha ritenuto opportuno non renderti più in grado di effettuare prenotazioni sulla piattaforma online, ma
      stai tranquillo! Le prenotazioni che hai effettuato non sono state cancellate da quest'azione. </p>
