<h1> Dashboard </h1>
<hr>
  <% @profs.each do |prof| %>
  <% if prof.confirmed? %>
    <% if prof.authorized == false %>
      <div class="card">
        Autorizza <%= " " + prof.name + " " + prof.surname + " " %> cliccando qui:
        <%= link_to "Autorizza", admin_authorize_route_path(prof.id), method: :post, class:"btn btn-success"%>
      </div>
    <% else %>
    <div class="card">
      Blocca <%= " " + prof.name + " " + prof.surname + " " %> cliccando qui:
      <%= link_to "Blocca", admin_authorize_route_path(prof.id), method: :post, class:"btn btn-danger"%>
    </div>
    <% end %>
    <%end%>


  <% end %>
