<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un link per cambiare la password. Puoi farlo attraverso il link qui sotto.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai effettuato tu la richiesta, ignora questa email</p>
<p>La tua password non cambierà fino a che non accederai a quel link e ne creerai una nuova</p>
