<p>Ciao <%= @resource.email %>!</p>

<p>Il tuo account è stato bloccato per via di troppi tentativi di accesso falliti.</p>

<p>Clicca sul link qui sotto per ripristinare il tuo account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
