<h1 align="center"> Nuovo professore </h1>
<p align="center"> <%= @prof.name.to_s + " " + @prof.surname.to_s %> </p>
<p> Corri ad autorizzarlo cliccando su questo link: <%= " " %> <%= link_to "Autorizzalo!", "http://192.168.10.120:3000/it/admin/dashboard/index" %> </p>
