<h1 align="center"> Nuovo tecnico </h1>
<p align="center"> <%= @technical.name.to_s + " " + @technical.surname.to_s %> </p>
<p> Corri ad autorizzarlo, ricordati in oltre di assegnargli subito dei laboratori! </p>
