<h1 align="center"> Una richiesta è stata approvata </h1>

<p> La informiamo che il/la preside ha appena autorizzato l'acquisto del seguente bene da lei richiesto: </p>

<p> <b>Quantità:</b> <%= @request.quantity %> </p>

<b> Nome: </b>
<p> <%= @request.name %> </p>

<b>Descrizione:</b>

<p> <%= @request.description %> </p>

<b> Motivazione: </b>

<p> <%= @request.goal %> </p>

Cordiali saluti
