<h1 align="center"> È stato acquistato un nuovo strumento </h1>
<h3 align="center"> Il DSGA ha approvato l'acquisto di un nuovo bene da inserire nell'inventario </h3>

<p> La informiamo che al momento dell'invio di questa email la scuola ha acquistato il seguente bene da lei richiesto </p>

<p> <b> Quantità: </b> <%= @request.quantity %> </p>

<p> <b> Nome: </b> <%= @request.name %> </p>

<p> Descrizione:</p>

<p> <%= @request.description %> </p>


Non appena il bene sarà disponibile riceverà una email di notifica.

Cordiali Saluti
