<h1 align="center"> Il bene da lei richiesto è disponibile! </h1>

<h4 align="center"> L'amministratore ATA ha appena segnalato che il bene acquistato su sua richiesta è addesso disponibile </h4>

<p> Ecco i dettagli del bene: </p>

<p> <b> Nome: </b> <%= @tool.name %> </p>

<p> Descrizione:</p>

<p> <%= @tool.description %> </p>


<p> Adesso il bene è disponibile per essere prenotato </p>

<p> Cordiali Saluti </p>
