
    <h1 align="center" color="red"> Accidenti! </h1>
    <p> Ci dispiace tanto <%= " " + @technical.name.to_s + " " + @technical.surname %>. </p>
    <p> Evidentemente l'admin ha ritenuto opportuno non renderti più in grado di operare sulla piattaforma online. </p>
