<p>Ciao <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ti stiamo contattando per informarti che la tua email è stata cambiata in <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ti stiamo contattando per informarti che la tua email è stata cambiata in <%= @resource.email %>.</p>
<% end %>
