<hr>
<% if I18n.locale.to_s == 'it' %>
<div class="text-center">
<%= link_to "English", edit_admin_tool_path(@tool, locale: "en"), class:"btn btn-light btn-block"%>
<br>
<br>
<%= link_to "Italiano", edit_admin_tool_path(@tool, locale: "it"), class:"btn btn-light btn-block disabled"%>
</div>
<% elsif I18n.locale.to_s == 'en' %>
<div class="text-center">
<%= link_to "English", edit_admin_tool_path(@tool, locale: "en"), class:"btn btn-light btn-block disabled"%>
<br>
<br>
<%= link_to "Italiano", edit_admin_tool_path(@tool, locale: "it"), class:"btn btn-light btn-block"%>
</div>
<% end %>
